@model AspNet_MVC_Training.Models.Training

<div>
    <h4 class="mb-1">@Html.DisplayFor(model => model.Title)</h4>
    <div class="badge bg-primary">@Html.DisplayFor(model => model.Category)</div>
    <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
      <h6 class="text-muted me-2 mb-0">@(Model.Former == null ? "Learn4Life" : Html.DisplayFor(model => model.Former.Name))</h6>
      <span class="card-subtitle text-muted">@Html.DisplayFor(model => model.ReleaseDate)</span>
    </div>
    <hr />

    <div class="row">
      @if (Model.Video != null)
      {
        <div class="d-flex justify-content-center mb-3">@Html.Raw(Model.Video)</div>
      }
      <div>@Html.Raw(Model.Content)</div>
    </div>
</div>
<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>
