@model AspNet_MVC_Training.Models.TrainingCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Trainings" asp-action="Index" method="get">
    <p>

        <select asp-for="TrainingCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="row row-cols-1 row-cols-md-4 g-4">
  @foreach (var item in Model.Trainings) {
    <div class="col">
      <div class="card h-100 justify-content-between">
        <img src="@item.Image" class="card-img-top" alt="@item.Title">
        <div class="card-body flex-col">
          <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
          <h6 class="card-subtitle mb-1 text-muted">@(item.Former == null ? "Learn4Life" : Html.DisplayFor(modelItem => item.Former))</h6>
          <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="badge bg-primary me-2">@Html.DisplayFor(modelItem => item.Category)</div>
            <span class="card-subtitle text-muted">@Html.DisplayFor(modelItem => item.ReleaseDate)</span>
          </div>
          <p class="card-text mt-3">@Html.DisplayFor(modelItem => item.Description)</p>
          <a href="#" class="btn btn-outline-success">Buy <span class="fw-bold">@Html.DisplayFor(modelItem => item.Price)€</span></a>
        </div>
      </div>
    </div>
  }
</div>