@model AspNet_MVC_Training.Models.TrainingCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Trainings" asp-action="Index" method="get">
    <p>

        <select asp-for="TrainingCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainings[0].Former)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trainings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Former)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrainingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrainingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrainingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
